@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';

* {
    // fix bold fonts on mac
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    width: 100%;
    height: 100%;
}

.check-gulp-scss-task {
    color: red;
}